{% extends 'base.html' %}

{% load widget_tweaks %}

{% block navtitle %}
Home
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block content %}
	
<!--
	
<div class="row">
  <div class="col-md-12 col-sm-12">
	  <h5 class="py-3 px-2 bg-dark text-light d-flex justify-content-between">
		  Latest entries</h5>
-->

<div class="row">
  <div class="col-sm-8 mx-auto pt-4 pb-4">
    <div class="card pt-4 pb-4">
<!--
      <div class="card-header">Next steps ...</div>
-->
      <div class="card-body">
	<div class="row">
	  <div class="col-sm-6">
	    <a href="{% url 'spectra_search:basic_search' %}">
	    <button class="btn btn-primary btn-lg btn-block"
	      style="height: 90px;">
	    Search spectra against database
	    </button></a>
	  </div>
	  <div class="col-sm-6">
	    <a href="{% url 'chat:user_libraries' %}">
	    <button class="btn btn-primary btn-lg btn-block"
	      style="height: 90px;">
	    Manage a custom library
	    </button></a>
	  </div>
	  <div class="col-sm-12 mt-4">
	    *Note: All spectra in database were acquired using MALDI-dried
	    drop method as described in [ref]
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<!-- Libraries -->
{% for entry in library|slice:":4" %}
<!--
  <div class=" my-4 card" style="box-shadow: #484646 0px 4px 1px">
    <div class="card-body">
	<div class="card-title text-right">
	{% for name, value in entry.get_fields %}
	  {% if value and name != "spectrum intensity" %}
	    {{ name }} => {{ value }}
	  {% elif value and name == "spectrum intensity" and value == ""%}
	    spectrum intensity => --null--
	  {% elif value and name == "spectrum intensity" %}
	    spectrum intensity => ---TRUNCATING OUTPUT---
	  {% else %}
	    {{ name }} => null
	  {% endif %}
	  <br />
	{% endfor %}
      </div>
    </div>
  </div>
-->
{% endfor %}


<!--
  </div>
</div>
-->
	
{% endblock %}
