{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
  Home
{% endblock %}

{% block content %}
	
<!--
	
<div class="row">
  <div class="col-md-12 col-sm-12">
	  <h5 class="py-3 px-2 bg-dark text-light d-flex justify-content-between">
		  Latest entries</h5>
-->

<div class="row">
  <div class="col-md-8 col-sm-8 mx-auto">
    <div class="card">
      <div class="card-header">Site overview</div>
      <div class="card-body">
	Libraries (public): {{library_public}}<br/>
	Libraries (total): {{library_total}}<br/>
	Spectra: {{spectra_total}}<br/>
      </div>
    </div>
  </div>
</div>

<!-- Libraries -->
{% for entry in library|slice:":4" %}
<!--
  <div class=" my-4 card" style="box-shadow: #484646 0px 4px 1px">
    <div class="card-body">
	<div class="card-title text-right">
	{% for name, value in entry.get_fields %}
	  {% if value and name != "spectrum intensity" %}
	    {{ name }} => {{ value }}
	  {% elif value and name == "spectrum intensity" and value == ""%}
	    spectrum intensity => --null--
	  {% elif value and name == "spectrum intensity" %}
	    spectrum intensity => ---TRUNCATING OUTPUT---
	  {% else %}
	    {{ name }} => null
	  {% endif %}
	  <br />
	{% endfor %}
      </div>
    </div>
  </div>
-->
{% endfor %}


<!--
  </div>
</div>
-->
	
{% endblock %}
