{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block navtitle %}
Lab Profile: {{ lab.lab_name }}
{% endblock %}
{% block title %}
	Lab Profile: {{ lab.lab_name }}
{% endblock %}

{% block content %}





<div class="card">
	{% if lab.picture %}
		<img class="card-img-top" src='{{ lab.picture }}'>
	{% else %}
		<div class="container mt-1 text-center"><i class="fas fa-9x fa-user"></i></div>
	{% endif %}
	<div class="card-body">
		<div class="card-title">
			{{ lab.lab_name }}
		</div>
		<div class="card-text">
			{{ lab.lab_description }}
		</div>
		<div class="card-text">
			Moderators: {{ lab.owners.all|join:", "}}
		</div>
		<div class="card-text">
			Members: {{ lab.members.all|length }}
		</div>
	</div>
<!--
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><strong><i class="fa fa-fw fa-user-alt"></i></strong> {{ user.username }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-envelope"></i></strong> {{ user.email }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-phone"></i></strong> {{ user.profile.phone }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-globe"></i></strong> {{ user.profile.website }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-map-marker-alt"></i></strong> {{ user.profile.address }}</li>
	</ul>
-->
	{% if request.user in lab.owners.all %}
		<div class="card-body">
			<a href="{% url 'chat:edit_labprofile' lab.id %}" class="card-link btn btn-danger">Edit Lab Profile</a>
		</div>
	{% endif %}
</div>
{% endblock %}
