{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}
	Library Details: {{ library.title }}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css"
  href="{% static 'css/datatables.min.css' %}"/>
 
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}">
  </script>

<div class="row">

<div class="col-sm-3">
<div class="card">
  <div class="card-header">Library details</div>
	<div class="card-body">
		<div class="card-title">
			Title: {{ library.title }}
		</div>
		<div class="card-title">
			Description: {{ library.description }}
		</div>
		<div class="card-title">
			Privacy Setting: {{ library.privacy_level }}
		</div>
		<div class="card-title">
			Quality: {{ library.quality_rating }}
		</div>
		<div class="card-title">
			Created by: {{ library.created_by }}
		</div>
		<div class="card-title">
			Lab: {{ library.lab }}
		</div>
		<div class="card-title"><!--TODO: href-->
			Spectra:
			<a href="{% url 'spectra_search:spectra_results' %}?library={{library.id}}" class="card-link">
				{{ spectra|length }}</a>
		</div>
		<div class="card-title"><!--TODO: href-->
			Collapsed spectra:
			<a href="{% url 'spectra_search:spectra_results2' %}?library={{library.id}}" class="card-link">
				{{ collapsed_spectra|length }}</a>
		</div>
		<div class="card-title"><!--TODO: href-->
			Metadata:
			<a href="{% url 'chat:metadata_results' %}?library={{library.id}}" class="card-link">
				{{ metadata|length }}</a>
		</div>
<!--
	only lab owners can add/update/remove libraries
-->
	{% if request.user in lab.owners.all %}
		<div class="card-body">
			<a href="{% url 'chat:edit_libprofile' library.id %}" class="card-link btn btn-danger">
				Edit Library Details</a>
		</div>
	{% endif %}
  </div>
</div>
</div>

{% if request.user in lab.owners.all %}
<div class="col-sm-9"><!-- accordion-style -->
  
  <div class="card">
    <div class="card-header">Library options</div>
    <div class="card-body">
      <div class="row">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab"
            data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true"
            >NCBI<br/>taxonomy<br/>alignment<br/>(Search)</button>
          <button class="nav-link" id="v-pills-another-tab"
            data-toggle="pill" href="#v-pills-another" role="tab"
            aria-controls="v-pills-another" aria-selected="false"
            >NCBI<br/>taxonomy<br/>alignment<br/>(Manual entry)</button>
        </div>
        
        <div class="tab-content ml-4 w-75" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home"
            role="tabpanel" aria-labelledby="v-pills-home-tab">
            
            <!-- Begin -->
            <label for="align-prefix"
              >(Optional) Enter a prefix for the strain ID, e.g. "NRRL":</label>
            <input type="text" placeholder="" size=20 id="align-prefix" />
            
            <div>
            <button type="button" class="btn btn-primary"
              onclick="javascript:align(this);" id="align-load"
              >Load alignments</button>
            
            <button type="button" class="btn btn-primary" id="align-import"
                style="display:none;"
                >Import NCBI taxonomy IDs for exact matches</button>
            </div>
            
            <br />
            <div class="alert alert-info" role="alert" id="align-alert"
              style="display:none;"></div>
              
            <br />
            <div id="align" style="display:none">
              <table id="align1"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Exact matches</caption></caption>
                </table><!-- cell-border compact stripe-->
              
              <br />
              <table id="align2"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Partial matches</caption></table>
            </div>
            <!-- End -->
            
          </div>
          <div class="tab-pane fade" id="v-pills-another"
            role="tabpanel" aria-labelledby="v-pills-another-tab">
            <p>
              <a class="btn btn-primary" data-toggle="collapse"
                href="#instructions" role="button"
                aria-expanded="false" aria-controls="instructions"
                id="toggleInstructions"
                >Show instructions</a>
            </p>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="instructions">
                  <div class="card card-body alert alert-info">
                    <p>Enter metadata for one or more entries in the library
                    based on entry strain ID.</p>
                    <p></p>
                    <p>Paste library strain IDs to be aligned separated by a newline
                    character, for example:</p>
              <pre>B-10
B-11
B-12
B-14</pre>
                    <p>Leave a blank space for unknown species data, for example:</p>
              <pre>tendae
erythrogriseus

koyangensis</pre>
                  </div>
                </div>
              </div>
            </div>
    <script type="text/javascript">
    $('#instructions').collapse({
      toggle: false
    });
    $('#instructions').on('shown.bs.collapse', function () {
      $('#toggleInstructions').text('Hide instructions');
    });
    $('#instructions').on('hidden.bs.collapse', function () {
      $('#toggleInstructions').text('Show instructions');
    });
    </script>
            
            <div class="row">
              <div class="col">
                <label for="">Strain IDs:</label>
                <textarea class="form-control" id="manual1"></textarea>
              </div>
              <div class="col">
                <label for="">Genus:</label>
                <textarea class="form-control" id="manual2"></textarea>
              </div>
              <div class="col">
                <label for="">Species:</label>
                <textarea class="form-control" id="manual3"></textarea>
              </div>
            </div>
            
            <br/>
            <button class="btn btn-primary"
              onclick="javascript:manualAlign(this);" id="manual-align-preview"
              >Preview alignment</button>
            <button type="button" class="btn btn-primary" id="manual-align-import"
                style="display:none;"
                >Import NCBI taxonomy IDs for exact matches</button>
            
            <br />
            <div class="alert alert-info" role="alert" id="align-alert-manual"
              style="display:none;"></div>
              
            <br/>
            <table id="align3"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Exact matches</caption></table>
            <br/>
            <table id="align4"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Partial matches</caption></table>
        </div><!--/tab-content-->
      </div><!--/row-->
    </div><!--/card-body-->
  </div><!--/card-->
</div><!--/col-->

<script type="text/javascript">
var alignments = null; // To be set later
var alignments2 = null; // To be set later

var socket = new WebSocket('ws://' + location.host + '/ws/pollData');
socket.onopen = function(e){
  //console.log(e);
}
socket.onmessage = function(e) {
  $('#align-load')[0].disabled = false;
  $('#align-prefix')[0].disabled = false;
  
  console.log(e);
  var data = JSON.parse(e.data).data;
  console.log(data);
  
  // exact matches versus non-matches
  if (data.message == 'completed align') {
    $('#align-alert')
      .text('Showing only Metadata entries where the NCBI taxonomic ID is empty');
    $('#align1').css('display', '');
    $('#align2').css('display', '');
    $('#align-import').css('display', '');
    $('#align').css('display', '');
    
    if (data.data.result1.length > 0) {
      $('#align-import').on('click', alignImport);
      $('#align-import')[0].disabled = false;
      alignments = data.data.result1;
    } else {
      $('#align-import')[0].disabled = true;
    }
    
    var t = $('#align1').DataTable({
      data: data.data.result1,
      destroy: true, // https://datatables.net/manual/tech-notes/3
      columns: [
        {data: 'id', title: 'ID'},
        {data: 'strain_id', title: 'Strain ID'},
        //~ {data: 'strain_id__strain_id', title: 'Strain Name'},
        {data: 'exact_name', title: 'Name'},
        {data: 'exact_sciname', title: 'Scientific name'},
        {data: 'exact_txid', title: 'NCBI taxonomic ID'},
        {data: 'exact_txtype', title: 'Taxonomic rank'},
        {data: 'exact_parentname', title: 'Parent name'}
      ]
    });
    t.draw();
    var t = $('#align2').DataTable({
      data: data.data.result2,
      destroy: true, // https://datatables.net/manual/tech-notes/3
      columns: [
        {data: 'id', title: 'ID'},
        {data: 'strain_id', title: 'Strain ID'},
        {data: 'partial_type', title: 'Partial search'},//,
        {data: 'partial', title: 'Partial result',
          render: function(data, type) {
            return data.split('|').join('<br>');
          }
        }
      ]
    });
    t.draw();
  }
  // 
  else if (data.message == 'completed save align') {
    $('#align-alert').text('Alignment updated!');
  }
  //
  else if (data.message == 'completed manual align') {
    $('#manual-align-import').css('display', '');
    $('#align3').css('display', '');
    $('#align4').css('display', '');
    $('#align-alert-manual').text('');
    $('#align-alert-manual').css('display', 'none');
    
    if (data.data.result1.length > 0) {
      $('#manual-align-import').on('click', alignImportManual);
      $('#manual-align-import')[0].disabled = false;
      alignments2 = data.data.result1;
    } else {
      $('#manual-align-import')[0].disabled = true;
    }
    
    var t = $('#align3').DataTable({
      data: data.data.result1,
      destroy: true, // https://datatables.net/manual/tech-notes/3
      columns: [
        {data: 'sid', title: 'Strain ID'},
        //~ {data: 'strain_id__strain_id', title: 'Strain Name'},
        {data: 'genus', title: 'Input genus'},
        {data: 'species', title: 'Input species'},
        {data: 'txid1', title: 'NCBI genus ID'},
        {data: 'txid2', title: 'NCBI species ID'}
      ]
    });
    t.draw();
    var t = $('#align4').DataTable({
      data: data.data.result2,
      destroy: true, // https://datatables.net/manual/tech-notes/3
      columns: [
        {data: 'sid', title: 'Strain ID'},
        {data: 'genus', title: 'Input genus'},
        {data: 'species', title: 'Input species'},
        {data: 'result', title: 'Match issue'},
        {data: 'txid1', title: 'NCBI genus ID'},
        {data: 'txid2', title: 'NCBI species ID'}
      ]
    });
    t.draw();
  }
  // 
  else if (data.message == 'completed save manual align') {
    $('#align-alert-manual').text('Alignment updated!');
  }
}
socket.onclose = function(e){
  //console.log(e);
}
function alignImport() {
  $('#align-load')[0].disabled = true;
  $('#align-prefix')[0].disabled = true;
  $('#align-import')[0].disabled = true;
  $('#align-alert').text('Saving alignment...');
  socket.send(JSON.stringify({
    type: 'save align',
    library: {{ library.id }},
    alignments: alignments
  }));
}
function alignImportManual() {
  $('#manual-align-preview')[0].disabled = true;
  $('#manual-align-import')[0].disabled = true;
  $('#align-alert-manual').text('Saving alignment...');
  socket.send(JSON.stringify({
    type: 'save manual align',
    library: {{ library.id }},
    alignments: alignments2
  }));
}
function manualAlign(btn) {
  btn.disabled = true;
  $('#align-alert-manual').css('display', '');
  $('#align-alert-manual').text('Loading alignment...');
  socket.send(JSON.stringify({
    type: 'manual_align',
    library: {{ library.id }},
    data: {
      strain_ids: $('#manual1')[0].value.trim(),
      genus: $('#manual2')[0].value.trim(),
      species: $('#manual3')[0].value.trim()
    }
  }));
}
function align(btn) {
  //~ btn.onclick = function() {}; // Disable
  btn.disabled = true;
  $('#align-prefix')[0].disabled = true;
  $('#align').css('display', 'none');
  $('#align-alert').css('display', '');
  $('#align-alert').text('Loading alignment...');
  $('#align-import').css('display', 'none');
  $('#align-prefix')[0].value = $('#align-prefix')[0].value.trim();
  socket.send(JSON.stringify({
    type: 'align',
    library: {{ library.id }},
    prefix: $('#align-prefix')[0].value
  }));
}
</script>
{% endif %}

<!--End row-->
</div>

{% endblock %}
