{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block title %}
	Library Details: {{ library.title }}
{% endblock %}

{% block content %}





<div class="card">
	<div class="card-body">
		<div class="card-title">
			Title: {{ library.title }}
		</div>
		<div class="card-title">
			Description: {{ library.description }}
		</div>
		<div class="card-title">
			Privacy Setting: {{ library.privacy_level }}
		</div>
		<div class="card-title">
			Quality: {{ library.quality_rating }}
		</div>
		<div class="card-title">
			Created by: {{ library.created_by }}
		</div>
		<div class="card-title">
			Lab: {{ library.lab }}
		</div>
		<div class="card-title"><!--TODO: href-->
			Spectra:
			<a href="{% url 'spectra_search:spectra_results' %}?library={{library.id}}" class="card-link">
				{{ spectra|length }}</a>
		</div>
		<div class="card-title"><!--TODO: href-->
			Collapsed spectra:
			<a href="{% url 'spectra_search:spectra_results2' %}?library={{library.id}}" class="card-link">
				{{ collapsed_spectra|length }}</a>
		</div>
		<div class="card-title"><!--TODO: href-->
			Metadata:
			<a href="{% url 'chat:metadata_results' %}?library={{library.id}}" class="card-link">
				{{ metadata|length }}</a>
      {% if request.user in lab.owners.all %}
        <button onclick="javascript:align();">Align metadata with NCBI</button>
      {% endif %}
		</div>
	</div>
<!--
	only lab owners can add/update/remove libraries
-->
	{% if request.user in lab.owners.all %}
		<div class="card-body">
			<a href="{% url 'chat:edit_libprofile' library.id %}" class="card-link btn btn-danger">
				Edit Library Details</a>
		</div>
	{% endif %}
</div>

{% if request.user in lab.owners.all %}
<script type="text/javascript">
var socket = new WebSocket('ws://' + location.host + '/ws/pollData');
socket.onopen = function(e){
  //console.log(e);
}
socket.onmessage = function(e) {
  console.log(e);
  var data = JSON.parse(e.data).data;
  console.log(data);
  // exact matches versus non-matches
}
socket.onclose = function(e){
  //console.log(e);
}
function align() {
  socket.send(JSON.stringify({
    align: {
      library: {{ library.id }}
    }
  }));
}
</script>
{% endif %}

{% endblock %}
