{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block navtitle %}
Library Details: {{ library.title }}
{% endblock %}
{% block title %}
Library Details: {{ library.title }}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css"
  href="{% static 'css/datatables.min.css' %}"/>
 
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}">
  </script>

<div class="row">
  <div class="col-md-2 col-sm-6">
    <div class="card">
      <div class="card-header">Actions</div>
      <div class="nav flex-column nav-pills p-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="navdetail-tab" data-toggle="pill"
          href="#navdetail" role="tab" aria-controls="navdetail"
          aria-selected="true">Library details</a>
        {% if request.user in lab.owners.all %}
        <a class="nav-link" id="navsearch-tab" data-toggle="pill"
          href="#navsearch" role="tab" aria-controls="navsearch"
          aria-selected="false">NCBI taxonomy search</a>
        <a class="nav-link" id="navmodify-tab" data-toggle="pill"
          href="#navmodify" role="tab" aria-controls="navmodify"
          aria-selected="false">NCBI taxonomy bulk modify</a>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="tab-content col-md-10 col-sm-6" id="">
    <!--Begin navdetail-->
    <div class="tab-pane fade show active" id="navdetail" role="tabpanel" aria-labelledby="navdetail-tab">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-header">
              Library overview
            </div>
            <div class="card-body">
              <div class="card-title">
                Title: {{ library.title|safe }}
              </div>
              <div class="card-title">
                Description: {{ library.description|safe }}
              </div>
              <div class="card-title">
                Privacy Setting: {{ library.privacy_level }}
              </div>
              <div class="card-title">
                Quality: {{ library.quality_rating }}
              </div>
              <div class="card-title">
                Created by: {{ library.created_by|safe }}
              </div>
              <div class="card-title">
                Lab: {{ library.lab|safe }}
              </div>
              <div class="card-title">  
                #Spectra: {{ lengths.spectra }}
<!--
                <a href="{% url 'spectra_search:spectra_results' %}?library={{library.id}}" class="card-link">
                  </a>
-->
              </div>
              <div class="card-title">  
                #Collapsed spectra: {{ lengths.collapsed_spectra }}
<!--
                <a href="{% url 'spectra_search:spectra_results2' %}?library={{library.id}}" class="card-link">
                  </a>
-->
              </div>
              <div class="card-title">  
                #Metadata: {{ lengths.metadata }}
<!--
                <a href="{% url 'chat:metadata_results' %}?library={{library.id}}" class="card-link">
                  </a>
-->
              </div>
            </div>
          </div>
        </div>
        
        {% if request.user in lab.owners.all %}
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-header">Library management</div>
            <div class="card-body">
              
              <a href="{% url 'chat:collapse_library' library.id %}"
                class="card-link btn btn-secondary">
                Collapse library replicates</a>
              
              <div class="alert alert-info mt-1">
                Collapsing replicates overwrites any collapsed spectra
                already in the library.</div>
              
              <a href="{% url 'chat:edit_libprofile' library.id %}"
                class="card-link btn btn-secondary">
                Edit Library Details</a>
              
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
          <div class="card">
            <div class="card-header">Spectra</div>
            <div class="card-body">
              <table id="table-spectra" style="width:100%;"
                class="table table-sm table-bordered table-striped nowrap">
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
          <div class="card">
            <div class="card-header">Collapsed Spectra</div>
            <div class="card-body">
              <table id="table-cspectra" style="width:100%;"
                class="table table-sm table-bordered table-striped nowrap">
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
          <div class="card">
            <div class="card-header">Metadata</div>
            <div class="card-body">
              <table id="table-metadata" style="width:100%;"
                class="table table-sm table-bordered table-striped nowrap">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!--/navdetail-->
    
    <!--Begin navsearch-->
    <div class="tab-pane fade" id="navsearch" role="tabpanel" aria-labelledby="navsearch-tab">

      <!-- Begin -->
      <div class="row">
        <div class="card mx-auto">
          <div class="card-header">NCBI taxonomy search</div>
          <div class="card-body">
                
            <label for="align-prefix"
              >(Optional) Enter a prefix for the strain ID, e.g. "NRRL":</label>
            <input type="text" placeholder="" size=20 id="align-prefix" />
            
            <div>
            <button type="button" class="btn btn-primary"
              onclick="javascript:align(this);" id="align-load"
              >Load alignments</button>
            
            <button type="button" class="btn btn-primary" id="align-import"
                style="display:none;"
                >Import NCBI taxonomy IDs for exact matches</button>
            </div>
            
            <br />
            <div class="alert alert-info" role="alert" id="align-alert"
              style="display:none;"></div>
              
            <br />
            <div id="align" style="display:none">
              <table id="align1"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Exact matches</caption>
                </table>
              
              <br />
              <table id="align2"
                class="table table-bordered table-responsive table-condensed"
                style="display:none; width:100%;">
                <caption style="caption-side: top">Partial matches</caption>
                </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div><!--/navsearch-->
    
    <!--Begin navmodify-->
    <div class="tab-pane fade" id="navmodify" role="tabpanel" aria-labelledby="navmodify-tab">
      
      <div class="row">
        <div class="card mx-auto">
          <div class="card-header">NCBI taxonomy bulk modify</div>
          <div class="card-body">
            <p>
              <a class="btn btn-primary" data-toggle="collapse"
                href="#instructions" role="button"
                aria-expanded="false" aria-controls="instructions"
                id="toggleInstructions"
                >Show instructions</a>
            </p>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="instructions">
                  <div class="card card-body alert alert-info">
                    <p>Enter metadata for one or more entries in the library
                    based on entry strain ID.</p>
                    <p></p>
                    <p>Paste library strain IDs to be aligned separated 
                    by a newline character, for example:</p>
                    
                    <pre>B-10
B-11
B-12
B-14</pre>
                    <p>Leave a blank space for unknown species data, for
                    example:</p>
                    
                    <pre>Streptomyces tendae
Streptomyces erythrogriseus

Streptomyces koyangensis</pre>

                  </div>
                </div>
              </div>
            </div>
      <script type="text/javascript">
      $('#instructions').collapse({
      toggle: false
      });
      $('#instructions').on('shown.bs.collapse', function () {
      $('#toggleInstructions').text('Hide instructions');
      });
      $('#instructions').on('hidden.bs.collapse', function () {
      $('#toggleInstructions').text('Show instructions');
      });
      </script>
            
            <div class="row">
              <div class="col">
                <label for="">Strain IDs:</label>
                <textarea class="form-control" id="manual1"></textarea>
              </div>
              <div class="col">
                <label for="">Genus:</label>
                <textarea class="form-control" id="manual2"></textarea>
              </div>
              <div class="col">
                <label for="">Species:</label>
                <textarea class="form-control" id="manual3"></textarea>
              </div>
            </div>
            
            <br/>
            <button class="btn btn-primary"
              onclick="javascript:manualAlign(this);" id="manual-align-preview"
              >Preview alignment</button>
            <button type="button" class="btn btn-primary" id="manual-align-import"
              style="display:none;"
              >Import NCBI taxonomy IDs for exact matches</button>
            
            <br />
            <div class="alert alert-info mt-2" role="alert" id="align-alert-manual"
              style="display:none;"></div>
              
            <br/>
            <table id="align3"
              class="table table-bordered table-responsive table-condensed"
              style="display:none; width:100%;">
              <caption style="caption-side: top">Exact matches</caption>
              </table>
            <br/>
            <table id="align4"
              class="table table-bordered table-responsive table-condensed"
              style="display:none; width:100%;">
              <caption style="caption-side: top">Partial matches</caption>
              </table>
          </div>
        </div>
      </div>
      <!-- End -->
    </div><!--/navmodify-->
  </div>
  
</div>

{% if request.user in lab.owners.all %}
<style type="text/css">
#align2, #align4 {
  cursor: pointer;
}
</style>

<!--{'library': lib, 'lab': lab, 'spectra': s, 'collapsed_spectra': s2,
    'metadata': m}-->
    
{{ spectra|json_script:"data-spectra" }}
{{ collapsed_spectra|json_script:"data-cspectra" }}
{{ metadata|json_script:"data-metadata" }}

<script type="text/javascript">
var library_id = {{library.id}}
</script>

<script src="{% static 'js/library_profile.js' %}"></script>

{% endif %}

{% endblock %}
