{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block navtitle %}
XML Profile
{% endblock %}
{% block title %}
	XML Details: {{ xml.xml_hash }}
{% endblock %}

{% block content %}


<div class="card">
	<div class="card-body">
		<div class="card-title">
			XML hash: {{ xml.xml_hash }}
		</div>
		<div class="card-text">
			XML: -binary-<!--xml.xml-->
		</div>
		<div class="card-text">
			Manufacturer: {{ xml.manufacturer }}
		</div>
		<div class="card-text">
			Model: {{ xml.model }}
		</div>
		<div class="card-text">
			Ionization: {{ xml.ionization }}
		</div>
		<div class="card-text">
			Analyzer: {{ xml.analyzer }}
		</div>
		<div class="card-text">
			Detector: {{ xml.detector }}
		</div>
		<div class="card-text">
			Instrument metafile: {{ xml.instrument_metafile }}
		</div>
		<div class="card-text">
			Lab: {{ lab.lab_name }}
		</div>
	</div>
<!--
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><strong><i class="fa fa-fw fa-user-alt"></i></strong> {{ user.username }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-envelope"></i></strong> {{ user.email }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-phone"></i></strong> {{ user.profile.phone }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-globe"></i></strong> {{ user.profile.website }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-map-marker-alt"></i></strong> {{ user.profile.address }}</li>
	</ul>
-->
	{% if request.user in lab.owners.all %}
		<div class="card-body">
			<a href="{% url 'chat:edit_xml' xml.xml_hash %}" class="card-link btn btn-danger">Edit details</a>
		</div>
	{% endif %}
</div>
{% endblock %}
