/venv
db.*
db.sqlite3
*.sqlite
.Rhistory
.RData
*.pyc
*.sock
maldidb.sock
mdb.sock
uploads/**

#### media/uploads/**
media/uploads/

#### /mdb/media/uploads/**
/mdb/media/uploads

### media/posts/**
media/posts/

project.env
.goutputstream*
/mdb/static/
*.dmp
# ignore any files in /mdb/r01data/
r01data/**

