POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE=postgres
DATABASE_HOST=postgresdb
DATABASE_PORT=5432
SECRET_KEY=
export POSTGRES_USER=$POSTGRES_USER
export POSTGRES_PASSWORD=$POSTGRES_PASSWORD
export POSTGRES_DB=$POSTGRES_DB
export DATABASE=$DATABASE
export DATABASE_HOST=$DATABASE_HOST
export DATABASE_PORT=$DATABASE_PORT
export SECRET_KEY=$SECRET_KEY
