
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	Basic Search
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

<script type="text/javascript">
function show_filter(e) {
  document.getElementById('filters').style.display='block';
  e.preventDefault();
  e.stopPropagation();
}
</script>

<!--Using modal for now to avoid nested forms.-->
<div>
  <!-- Modal - Overwrite margin/width to adjust modal size -->
  <div id="upload_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin: 2.5rem !important; max-width: none !important;">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Unknown Isolate</h4>
        </div>
<!--
        <noscript>
          <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
-->     
        <form action="{% url 'chat:ajax_upload' %}" class="" method="POST" style="" id="upload_form">
          {% csrf_token %}
          
        <div class="modal-body">
          
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <div class="alert alert-danger toggle-display" id="file-error">
<!--
              <strong></strong>
-->
            </div>
          
          <br>
          
          <a href="#" id="upload-more-opts" onclick="return false;">Show more options</a>
          
          <div id="div-upload-opts" style="display:none;">
            <div class="form-check">
              {% with f=upload_form.save_to_library %}
                {{ f }}
                <label class="form-check-label" for="{{ f.auto_id }}">{{ f.label }}</label>
              {% endwith %}
  <!--
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="save_to_library">
              <label class="form-check-label" for="defaultCheck1">
                Save file to a preexisting library? 
              </label>
  -->
            </div>
            
            <div class="form-group">
              {% with f=upload_form.lab_name %}
              {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.library %}
              {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.preprocess %}
                {{ f }}
                <label class="form-check-label" for="{{ f.auto_id }}">{{ f.label }}</label>
              {% endwith %}
            </div>
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-default">Upload</button>
        </div>
        
        </form>
        
      </div>
    </div>
  </div>
</div>




<form action="{% url 'chat:basic_search' %}" class="" method="GET" style="">
    

  <div class="card">
  <div class="card-body" id="search_initial" style="display: none;">
    
    <table class="table spectra-search-tbl">
      <!--<thead>
        <tr>
        <th colspan=6>Enter spectrum peak values, select a spectrum from
          database, or upload a new spectra</th>
        </tr>
      </thead>-->
      
      <tr>
        <td colspan=6>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload_modal">
            Upload file of unknown isolate</button>
          
          <br>
          <br>
          <a href="#" id="searchtype-more-opts">Additional file options</a>
          
          
          <div style="display: none;" id="div-searchtype-opts" class="form-group">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Use previously uploaded file</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Use library spectra</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Manually enter spectra</a><!--"nav-link disabled"-->
                  </li>
                </ul>
              </div>
              <div class="card-body" id="">
                <h5 class="card-title">...</h5>
                <p class="card-text">...</p>
                <a href="#" class="btn btn-primary">...</a>
              </div>
              <div class="card-body" id="" style="display: none;>
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <div class="card-body" id="" style="display: none;">
                {% with f=form.peak_mass g=form.peak_intensity h=form.peak_snr %}
                <table>
                  <thead><th>
                    Manually enter values for peak mass, intensity, and
                    signal-to-noise ratio of the unknown isolate
                  </th></thead>
                  <tr class="search-peakrow">
                  <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
                    <div>{{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
                    </div>
                    <div>{{ g.label_tag }}{% if g.field.required %}<span class="required">*</span>{% endif %}
                    </div>
                    <div>{{ h.label_tag }}{% if h.field.required %}<span class="required">*</span>{% endif %}
                    </div>
                  </td>
                  <td class="search-peakrow" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
                    <div>{{ f }}</div>
                    <div>{{ g }}</div>
                    <div>{{ h }}</div>
                  </td>
                  </tr>
                </table>
                {% endwith %}
              </div>
            </div>
            
<!--
            <div style="display: block;">
              <button type="button" class="btn btn-primary" onclick="return false;">
              Select a previously uploaded unknown isolate</button>
            </div>
            
            <div style="display: block;">
              <button type="button" class="btn btn-primary" onclick="return false;">
              Select a library isolate</button>
            </div>
-->
            
          </div>
        </td>        
      </tr>
      
      <!-- Additional fields -->
      <tr>
      <td colspan=6 align="left">
        <a href="#" id="toggle-search-opts">Additional search options</a>
      </td></tr>
      
      
      {% with f=form.replicates %}
      <tr class="search-addl-fields toggle-display">
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.spectrum_cutoff g=form.spectrum_cutoff_low h=form.spectrum_cutoff_high %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <ul>
        {% for c in f %}
          {% if c.choice_label != "Custom" %}
            <li>{{ c.tag }}
              <label for="id_spectrum_cutoff_{{ forloop.counter0 }}">
                {{ c.choice_label }}</label>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.preprocessing %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      </tr>
      {% endwith %}
      
      <tr class="search-addl-fields toggle-display">
      {% for f in secondary_form_fields %}
        {% if forloop.counter0|divisibleby:3  %}
        </tr>
        <tr class="search-addl-fields toggle-display">
        {% endif %}

          <td class="" aria-required={% if field.required %}"true"{% else %}"false"{% endif %}>
            {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
          </td>
          <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
            {{ f }}
            {% if f.help_text %}
              <p class="help">{{ f.help_text|safe }}</p>
            {% endif %}
          </td>

      {% endfor %}
      </tr>
      
      <!-- Form errors -->
      {% if form.errors %}
       {% for field in form %}
           {% if field.errors %}
             {% for error in field.errors %} 
                <tr><td colspan="6" align="center">
                <div class="alert alert-danger">
                     <strong>Error with search field "{{field.label_tag}}": {{ error|escape }}</strong>
                </div>
                </td></tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      <tr>
      <td colspan=6 align="center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search</button>
      </td></tr>
    </table>
    
    
      
      
      
      
  </div></div>
  
  
  
<!--
  <table>
    
    <tr>
      <td>
        {% if metadata_strain_ids %} 
        Strain select: 
        <select placeholder="Species" name="strain_ids" multiple="true">
          {% for s in metadata_strain_ids %}
            <option>
              {{ s.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
<!--
    <tr>
      <td>
        {% if species_list %} 
        Strain select: 
        <select placeholder="Species" name="strain_id" multiple="true">
          {% for species in species_list %}
            <option>
              {{ species.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
    
<!--
  </table>
-->


<!--
{% if object_list %}               
<h5>Search Results</h5>
  <ul>
    {% for post in object_list %}
      <li>
        {{ post.user }}, {{ post.text }}, {{ post.posted_date }},
        {{ post.peaks }}, {{ post.intensities }}, {{ post.picture }},
        {{ post.user }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  No search results!
{% endif %}
-->



  <!-- if search results, minimize search form -->
<div class="row">
  <input type="button" class="btn btn-primary" id="search_toggle" style="display: none; width: 180px;" value="Edit Search" />
</div>
{% if form.show_tbl %}  
  {% render_table table %}
{% endif %}
</form>


<script type="text/javascript">
//~ function toggleCutoff(e) {
  //~ var x1 = document.getElementById('id_spectrum_cutoff_low');
  //~ var x2 = document.getElementById('id_spectrum_cutoff_high');
  //~ if (this.id == 'id_spectrum_cutoff_3') {
    //~ if (x1.disabled) {
      //~ x1.disabled = false;
      //~ x2.disabled = false;
    //~ } else {
      //~ x1.disabled = true;
      //~ x2.disabled = true;
    //~ }
  //~ } else {
    //~ x1.disabled = true;
    //~ x2.disabled = true;
  //~ }  
//~ }
function toggleSearchTypeOpts(e) {
  var s = $('#div-searchtype-opts');
  if (s.css('display') == 'none') {
    s.css('display', 'block');
    $(this).text('Hide file options')
  } else {
    s.css('display', 'none');
    $(this).text('Additional file options')
  }
  return false;
}
function toggleUploadOpts(e) {
  var s = $('#div-upload-opts');
  if (s.css('display') == 'none') {
    s.css('display', 'block');
    $(this).text('Hide more options')
  } else {
    s.css('display', 'none');
    $(this).text('Show more options')
  }
  return false;
}
function toggleSaveToLibrary(e) {
  var lb = $('#id_lab_name');
  var li = $('#id_library');
  if (this.checked) {
    li[0].disabled = false;
    lb[0].disabled = false;
  } else {
    li[0].disabled = true;
    lb[0].disabled = true;
  }
}
function toggleSearchForm() {
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (st.css('display') == 'none') {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
}

//~ var showAddl = false
function toggleAddlFields() {
  $('.search-addl-fields').toggleClass('toggle-display');
  if ($(this).text() == 'Additional search options') {
    $(this).text('Hide search options');
  } else {
    $(this).text('Additional search options');
  }
  return false;
}
//~ $(document).ready(function(){
window.addEventListener('DOMContentLoaded', (event) => {
  //~ var y = document.getElementsByName('spectrum_cutoff');
  //~ for (var i=0; i<y.length; i++) {
    //~ y[i].onclick = toggleCutoff;
  //~ }
  //~ var x1 = $('#id_spectrum_cutoff_low');
  //~ var x2 = $('#id_spectrum_cutoff_high');
  //~ x1.attr({'placeholder': 'Min. M/Z', 'max': '999999'});
  //~ x2.attr({'placeholder': 'Max. M/Z', 'max': '999999'});
  
  var show_tbl = {{ form.show_tbl|lower }};
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (show_tbl) {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
  st.click(toggleSearchForm);
  
  // toggle search options
  $('#toggle-search-opts').click(toggleAddlFields);
  
  // search type opts
  $('#searchtype-more-opts').click(toggleSearchTypeOpts);
  
  // save to library
  $('#id_save_to_library').click(toggleSaveToLibrary);
  
  // upload more opts
  $('#upload-more-opts').click(toggleUploadOpts);
  
  // upload
  $('#upload_form').submit(upload);
  
  // file selector (via w3 schools) and initial value on page reload
  $(".custom-file-input").on("change", function() {
    var f = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(f);
  });
  if ($(".custom-file-input").val() != '') {
    var n = $(".custom-file-input");
    var f = n.val().split("\\").pop();
    n.siblings(".custom-file-label").addClass("selected").html(f);
  }
  
});

// upload form
function upload(event) {
  //~ console.log($(this).serialize());
  //~ console.log($('#upload_form').serialize());
  //~ console.log(this);
  //~ formdata = new FormData();
  //~ if($(this).prop('files').length > 0)
  //~ {
      //~ file =$(this).prop('files')[0];
      //~ formdata.append("music", file);
  //~ }
  //~ console.log($(this).serialize());
  //~ var data = new FormData($(this).get(0));
  //~ var data = new FormData($(this));
  //~ console.log(data);
  $.ajax({
    dataType: "JSON",
    data: new FormData(this),
    url: "{% url 'chat:ajax_upload' %}",
    type: 'POST',
    processData: false,
    contentType: false,
    // on success
    success: function(response) {
      console.log(response)
      //~ if (response.is_taken == true) {
          //~ $('#id_username').removeClass('is-valid').addClass('is-invalid');
          //~ $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
      //~ } else {
          //~ $('#id_username').removeClass('is-invalid').addClass('is-valid');
          //~ $('#usernameError').remove();

      //~ }
    },
    // on error
    error: function(response) {
      console.log(response);
      try {
        var r = JSON.parse(response.responseJSON.errors);
        console.log(r);
        if (r && r.file) { // array of messages
          $('#customFile').removeClass('is-valid').addClass('is-invalid');
          $('#file-error').removeClass('toggle-display').text(
            r.file.join('<br>')
          );
          var msgs = [];
          r.file.forEach(e => msgs.push(e.message));
          $('#file-error').text(msgs.join('<br>'));
        }
      } catch(e) {
        console.log(e);
      }
      
    }
  });
  return false;
}
</script>





{% endblock %}

