
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	Search
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

<!--
{% if filter %}
  {% bootstrap_button 'show filters' %}
  <form action="" method="get" class="form form-inline" style="display:none;">
    {% bootstrap_form filter.form layout='inline' %}
    {% bootstrap_button 'filter' %}
  </form>
{% endif %}
-->

<script type="text/javascript">
function show_filter(e) {
  document.getElementById('filters').style.display='block';
  e.preventDefault();
  e.stopPropagation();
}
</script>

{% if filter %}
<!--
<div class="btn btn-primary" onclick="show_filter()">show filters</div>
<div style="display:none;" id="filters">
  {% bootstrap_form filter.form layout='inline' %}
</div>
-->
{% endif %}


<form action="{% url 'chat:basic_search' %}" class="" method="GET" style="">
    

  <div class="card">
<!--
    <div class="card-body" id="">
    
    </div>
-->
    <div class="card-body" id="search_initial" style="display: none;">
    
      
  
  
<!--
    {{ form.as_table }}
-->
    
    <table class="table spectra-search-tbl">
      <thead>
        <tr>
        <th colspan=6>Enter spectrum peak values or upload a spectra</th>
        </tr>
      </thead>
      {% with f=form.peak_mass g=form.peak_intensity h=form.peak_snr %}
      <tr class="search-peakrow">
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <div>{{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div>{{ g.label_tag }}{% if g.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div>{{ h.label_tag }}{% if h.field.required %}<span class="required">*</span>{% endif %}
        </div>
      </td>
      <td class="search-peakrow" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <div>{{ f }}
        </div>
        <div>{{ g }}
        </div>
        <div>{{ h }}
        </div>
      </td>
      {% endwith %}
      
      <td colspan=2 align="center" valign="middle">
        - OR -
      </td>
      
      {% with f=form.spectra_file %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
<!--
      <td>{{ form.spectra_file }}</td>
-->
      
      </tr>
      
      
<!--
      {% with f=form.peak_intensity %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.peak_snr %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      </tr>
      {% endwith %}
-->
      
      {% with f=form.replicates %}
      <tr>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.spectrum_cutoff g=form.spectrum_cutoff_low h=form.spectrum_cutoff_high %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <ul>
        {% for c in f %}
        {% if c.choice_label != "Custom" %}
          <li>{{ c.tag }}
            <label for="id_spectrum_cutoff_{{ forloop.counter0 }}">
              {{ c.choice_label }}</label>
          </li>
        {% else %}
          <li id="spectra-search-tbl-cutoff">
            <input type="radio" name="spectrum_cutoff" value="{{ c.choice_value }}" required="" id="id_spectrum_cutoff_{{ forloop.counter0 }}" />
            <label for="id_spectrum_cutoff_{{ forloop.counter0 }}" onclick="toggleCutoff();">
              {{ c.choice_label }}</label>
              {{ g }}
              {{ h }}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
<!--
        {{ f }}
        <div style="display: none; width: 80px;">
        {{ g }}
        {{ h }}
        </div>
-->
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.preprocessing %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      </tr>
      {% endwith %}
      
      <!-- additional fields -->
      <tr>
      <td colspan=6 align="left">
        <a href="#" onclick="toggleAddlFields();">Additional options</a>
      </td></tr>
      
      <tr class="search-addl-fields toggle-display">
      {% for f in secondary_form_fields %}
        {% if forloop.counter0|divisibleby:3  %}
        </tr>
        <tr class="search-addl-fields toggle-display">
        {% endif %}
        <td class="" aria-required={% if field.required %}"true"{% else %}"false"{% endif %}>
          {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        </td>
        <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
          {{ f }}
          {% if f.help_text %}
            <p class="help">{{ f.help_text|safe }}</p>
          {% endif %}
        </td>
      {% endfor %}
      </tr>
      
      <tr>
      <td colspan=6 align="center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search</button>
      </td></tr>
    </table>
    
    
      
      
      
      
  </div></div>
  
  
  
<!--
  <table>
    
    <tr>
      <td>
        {% if metadata_strain_ids %} 
        Strain select: 
        <select placeholder="Species" name="strain_ids" multiple="true">
          {% for s in metadata_strain_ids %}
            <option>
              {{ s.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
<!--
    <tr>
      <td>
        {% if species_list %} 
        Strain select: 
        <select placeholder="Species" name="strain_id" multiple="true">
          {% for species in species_list %}
            <option>
              {{ species.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
    
<!--
  </table>
-->


<!--
{% if object_list %}               
<h5>Search Results</h5>
  <ul>
    {% for post in object_list %}
      <li>
        {{ post.user }}, {{ post.text }}, {{ post.posted_date }},
        {{ post.peaks }}, {{ post.intensities }}, {{ post.picture }},
        {{ post.user }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  No search results!
{% endif %}
-->



  <!-- if search results, minimize search form -->
  <div class="row">
    <input type="button" class="btn btn-primary" id="search_toggle" style="display: none; width: 180px;" value="Edit Search" />
    &nbsp;
  {% if form.show_tbl %}  
    {% render_table table %}
  {% endif %}
  </div>

</form>

<script type="text/javascript">
function toggleCutoff(e) {
  var x1 = document.getElementById('id_spectrum_cutoff_low');
  var x2 = document.getElementById('id_spectrum_cutoff_high');
  if (this.id == 'id_spectrum_cutoff_3') {
    if (x1.disabled) {
      x1.disabled = false;
      x2.disabled = false;
    } else {
      x1.disabled = true;
      x2.disabled = true;
    }
  } else {
    x1.disabled = true;
    x2.disabled = true;
  }  
}
function toggleSearchForm() {
  console.log(e);
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (st.css('display') == 'none') {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
}

var showAddl = false
function toggleAddlFields(e) {
  $('.search-addl-fields').toggleClass('toggle-display');
  console.log('x');
  //~ var x1 = $('.search-addl-fields');
  //~ if (x1.css('display') == 'none') {
    //~ x1.css('display', 'block');
  //~ } else {
    //~ x1.css('display', 'none');
  //~ }
  e.stopPropagation();
  e.preventDefault();
  return false;
}

/* spectra tooltip */
//~ $(document).ready(function(){
window.addEventListener('DOMContentLoaded', (event) => {
  //~ $('[data-toggle="tooltip"]').tooltip();
  
  var y = document.getElementsByName('spectrum_cutoff');
  //~ var y = $("input[name='spectra_search-spectrum_cutoff']");
  for (var i=0; i<y.length; i++) {
    y[i].onclick = toggleCutoff;
  }
  var x1 = $('#id_spectrum_cutoff_low');
  var x2 = $('#id_spectrum_cutoff_high');
  x1.attr({'placeholder': 'Min. M/Z', 'max': '999999'});
  x2.attr({'placeholder': 'Max. M/Z', 'max': '999999'});
  
  var show_tbl = {{ form.show_tbl|lower }};
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (show_tbl) {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
  st.click(toggleSearchForm);
//~ });

});

</script>

{% endblock %}

