
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	Search
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

<!--
{% if filter %}
  {% bootstrap_button 'show filters' %}
  <form action="" method="get" class="form form-inline" style="display:none;">
    {% bootstrap_form filter.form layout='inline' %}
    {% bootstrap_button 'filter' %}
  </form>
{% endif %}
-->

<script type="text/javascript">
function show_filter(e) {
  document.getElementById('filters').style.display='block';
  e.preventDefault();
  e.stopPropagation();
}
</script>

{% if filter %}
<!--
<div class="btn btn-primary" onclick="show_filter()">show filters</div>
<div style="display:none;" id="filters">
  {% bootstrap_form filter.form layout='inline' %}
</div>
-->
{% endif %}


<form action="{% url 'chat:basic_search' %}" class="" method="POST" style="">
    

  <div class="card">
    <div class="card-body">
    
      
  
  
<!--
    {{ form.as_table }}
-->
    
    <table class="table spectra-search-tbl">
      <thead>
        <tr>
        <th colspan=6>Enter spectrum peak values or upload a spectra</th>
        </tr>
      </thead>
      {% with f=form.peak_mass g=form.peak_intensity h=form.peak_snr %}
      <tr class="search-peakrow">
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <div>{{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div>{{ g.label_tag }}{% if g.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div>{{ h.label_tag }}{% if h.field.required %}<span class="required">*</span>{% endif %}
        </div>
      </td>
      <td class="search-peakrow" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <div>{{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
        </div>
        <div>{{ g }}
        {% if g.help_text %}
          <p class="help">{{ g.help_text|safe }}</p>
        {% endif %}
        </div>
        <div>{{ h }}
        {% if h.help_text %}
          <p class="help">{{ h.help_text|safe }}</p>
        {% endif %}
        </div>
      </td>
      {% endwith %}
      
      {% with f=form.spectra_file %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
<!--
      <td>{{ form.spectra_file }}</td>
-->
      
      </tr>
      
      
<!--
      {% with f=form.peak_intensity %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.peak_snr %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      </tr>
      {% endwith %}
-->
      
      {% with f=form.replicates %}
      <tr>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.spectrum_cutoff g=form.spectrum_cutoff_low h=form.spectrum_cutoff_high %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        <ul>
        {% for c in f %}
        {% if c.choice_label != "Custom" %}
          <li>{{ c.tag }}
            <label for="id_spectra_search-spectrum_cutoff_{{ forloop.counter0 }}">
              {{ c.choice_label }}</label>
          </li>
        {% else %}
          <li>
            <input type="radio" name="spectra_search-spectrum_cutoff" value="{{ c.choice_value }}" required="" id="id_spectra_search-spectrum_cutoff_{{ forloop.counter0 }}" />
            <label for="id_spectra_search-spectrum_cutoff_{{ forloop.counter0 }}" onclick="toggleCutoff();">
              {{ c.choice_label }}</label>
              {{ g }}
              {{ h }}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
<!--
        {{ f }}
        <div style="display: none; width: 80px;">
        {{ g }}
        {{ h }}
        </div>
-->
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      {% endwith %}
      
      {% with f=form.preprocessing %}
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
      </td>
      <td class="" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
      </td>
      </tr>
      {% endwith %}
      
      <tr>
      <td colspan=6 align="center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search</button>
      </td></tr>
    </table>
    
    
<!--
    {% with f=form.peak_mass %}
    <div class="form-group" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    <br>
    {% with f=form.peak_intensity %}
    <div class="form-group" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    <br>
    {% with f=form.peak_snr %}
    <div class="form-group" aria-required={% if f.field.required %}"true"{% else %}"false"{% endif %}>
        {{ f.label_tag }}{% if f.field.required %}<span class="required">*</span>{% endif %}
        {{ f }}
        {% if f.help_text %}
          <p class="help">{{ f.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    
    
    Upload mzXML or mzML: -file upload-
        OR
        Enter peaks and intensities:
        <input name="peaks" placeholder="peaks" />
        <input name="intensities" placeholder="intensities" />
-->
      
      
      
      
  </div></div>
  
  
  
<!--
  <table>
    
    <tr>
      <td>
        {% if metadata_strain_ids %} 
        Strain select: 
        <select placeholder="Species" name="strain_ids" multiple="true">
          {% for s in metadata_strain_ids %}
            <option>
              {{ s.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
<!--
    <tr>
      <td>
        {% if species_list %} 
        Strain select: 
        <select placeholder="Species" name="strain_id" multiple="true">
          {% for species in species_list %}
            <option>
              {{ species.strain_id }}
            </option>
          {% endfor %}
        </select>
        {% else %}
          No strains in database!
        {% endif %}
      </td>
    </tr>
-->
    
    
<!--
  </table>
-->


<!--
{% if object_list %}               
<h5>Search Results</h5>
  <ul>
    {% for post in object_list %}
      <li>
        {{ post.user }}, {{ post.text }}, {{ post.posted_date }},
        {{ post.peaks }}, {{ post.intensities }}, {{ post.picture }},
        {{ post.user }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  No search results!
{% endif %}
-->



{% if table %}<!-- if search results, minimize search form -->
  <div class="row">
  {% render_table table %}
  </div>
{% endif %}

</form>

<script type="text/javascript">
var y = document.getElementsByName('spectra_search-spectrum_cutoff');
for (var i=0; i<y.length; i++) {
  y[i].onclick = toggleCutoff;
}
function toggleCutoff(e) {
  var x1 = document.getElementById('id_spectra_search-spectrum_cutoff_low');
  var x2 = document.getElementById('id_spectra_search-spectrum_cutoff_high');
  if (this.id == 'id_spectra_search-spectrum_cutoff_3') {
    if (x1.disabled) {
      x1.disabled = false;
      x2.disabled = false;
    } else {
      x1.disabled = true;
      x2.disabled = true;
    }
  } else {
    x1.disabled = true;
    x2.disabled = true;
  }  
}
var x1 = document.getElementById('id_spectra_search-spectrum_cutoff_low');
var x2 = document.getElementById('id_spectra_search-spectrum_cutoff_high');
x1.setAttribute('placeholder', 'Min. M/Z');
x2.setAttribute('placeholder', 'Max. M/Z');
x1.setAttribute('max', '999999');
x2.setAttribute('max', '999999');
</script>

{% endblock %}

