{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navtitle %}
New sqlite entry
{% endblock %}
{% block title %}
	New sqlite entry
{% endblock %}

{% block content %}
	<div class="container-fluid row">
		<div class="col-md">
			<h5 class="py-3 px-2 bg-dark text-light d-flex justify-content-between">
        New sqlite import</h5>
			<div class=" bg-grey container mx-auto py-3">

				{% if form.non_field_errors %}
		      <div class="alert alert-warning alert-dismissible fade show" style="font-size: 11px" role="alert">
		      {{ form.non_field_errors }}
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		      </div>
		    {% endif %}
		    
		    <form method="POST" enctype="multipart/form-data" class="form-add-sqlite">
		      {% csrf_token %}
		      {% for field in form %}
		      <div class="form-group">
		      {% if field.errors %}
		        <div class="alert alert-warningalert-dismissible fade show" role='alert'>
		        {{ field.errors }}
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        </div>
		      {% endif %}
		    
		      {{ field.label_tag }}
		      {{ field|add_class:'form-control' }}
		      </div>
		      {% endfor %}
		      <input type='submit' class="btn btn-primary btn-block" value='submit'>
		    </form>
			</div>
		</div>
<!--
		<div class="col-md-4">
			<h5 class="py-3 px-2 bg-dark text-light text-center">My profile</h5>
			{% include 'accounts/profile.html' %}
		</div>
-->
	</div>
	
<script type="text/javascript">
function toggleFile(e) {
  var v = $('form')[0].upload_type.value;
  if (v == 'single') {
    $('#id_file')[0].disabled = false;
    $('#id_r01data')[0].disabled = true;
    //~ $('#id_file').parent().toggleClass('toggle-display', false);
    //~ $('#id_r01data').parent().toggleClass('toggle-display', true);
  } else if (v == 'r01') {
    $('#id_file')[0].disabled = true;
    $('#id_r01data')[0].disabled = false;
    //~ $('#id_file').parent().toggleClass('toggle-display', true);
    //~ $('#id_r01data').parent().toggleClass('toggle-display', false);
  }
  //~ } else { // == r01
  //~ $('#id_file').parent().toggleClass('toggle-display', true);
  //~ $('#id_r01data').parent().toggleClass('toggle-display', false);
  //~ }
  
	
}
// id_upload_type_1
window.addEventListener('DOMContentLoaded', (event) => {
  var x1 = $('#id_upload_type_0');
  var x2 = $('#id_upload_type_1');
  //~ var x3 = $('#id_upload_type_2');
  x1.click(toggleFile);
  x2.click(toggleFile);
  //~ x3.click(toggleFile);
  x1[0].click();
});
</script>
{% endblock %}
