{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navtitle %}
Library compare
{% endblock %}
{% block title %}
Library compare
{% endblock %}

{% block content %}

{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css"
  href="{% static 'css/datatables.min.css' %}"/>
 
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}">
  </script>
<script type="text/javascript" src="{% static 'js/d3.6.7.0.min.js' %}">
  </script>
<script type="text/javascript" src="{% static 'js/dropzone.5.7.0.js' %}">
  </script>

<form action="" class="" method="" style="" id="">
{% csrf_token %}

<div class="card mx-auto p-2 col-sm-12 col-md-10">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group m-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Select two or more libraries</span>
        </div>
        <div>
          {% with f=form.library %}
          {{ f }}
          {% endwith %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group m-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Result</span>
        </div>
        <div>
          <textarea class="form-control" style="height:400px;" disabled="true"
            id="result"></textarea>
        </div>
      </div>
    </div>
  </div>
  <button id="btn-check" type="button" class="btn btn-primary"
    onclick="javascript:check(this);">
    Check similarity</button>
</div>

</form>

<script type="text/javascript">
var socket = new WebSocket('ws://' + location.host + '/ws/pollData');
socket.onopen = function(e){
  //console.log(e);
}
socket.onmessage = function(e) {
  console.log(e);
  var data = JSON.parse(e.data);
  console.log(data);
  console.log(data.type);
  
  if (data.type == 'library comparison result') {
    $('#id_library')[0].disabled = false;
    $('#btn-check')[0].disabled = false;
    // truncates if more than 10 results
    
    if (data.data.result.length > 10) {
      $('#result').text(JSON.stringify(data.data.result.slice(9)));
    } else {
      $('#result').text(JSON.stringify(data.data.result));
    }
    
    var a = document.createElement('a');
    a.href = 'data:application/json,' +
      encodeURI(JSON.stringify(data.data.result));
    a.target = '_blank';
    a.download = 'results.json';
    a.click();
  }
}
function check(btn) {
  var x = $('#id_library option:selected');
  var selected = [];
  for (var i=0; i<x.length; i++) {
    selected.push(x[i].value);
  }
  
  $('#id_library')[0].disabled = true;
  btn.disabled = true;
  
  socket.send(JSON.stringify({
    type: 'library comparison',
    libraries: selected,
  }));
}
</script>
{% endblock %}

