{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navtitle %}
Basic Search
{% endblock %}
{% block title %}
	Basic Search
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css"
  href="{% static 'css/datatables.min.css' %}"/>
 
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}">
  </script>
<script type="text/javascript" src="{% static 'js/d3.6.7.0.min.js' %}">
  </script>
<script type="text/javascript" src="{% static 'js/dropzone.5.7.0.js' %}">
  </script>
<script type="text/javascript">
// global variable for spectra_search.js
var formURLs = {
  library: "{% url 'spectra_search:ajax_upload_library' %}",
  files: "{% url 'spectra_search:ajax_upload' %}"
}
  
function show_filter(e) {
  document.getElementById('filters').style.display='block';
  e.preventDefault();
  e.stopPropagation();
}
</script>

<!-- After file upload form, get-form-div is placed inside this form. -->
<form action="{% url 'spectra_search:basic_search' %}" class=""
  method="GET" style="" id="search-form">
</form>

<div class="container" style="width:100%;max-width:inherit;">

  <!-- begin row -->
  <div class="row">
  <!-- begin col left -->
  <div class="col-8 mx-auto" id="col-left">
      
    <div class="card" style="">
      <!--Height: All tabs same height to keep card body height
        from always changing upon tab selection.
        height:450px !important;-->
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="nav-search-source">
          <li class="nav-item">
            <a class="nav-link active" href="#" id="nss-1"
              >Upload mzml / mzxml file(s) of your isolate here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nss-2" href="#"
              style="display:none;">Search results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nss-3" href="#"
              style="display:none;">Result</a>
          </li>
<!--Off for now
          <li class="nav-item">
            <a class="nav-link" href="#" id="nss-2">Previously uploaded files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nss-3">Library spectra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nss-4">Manual spectra entry</a>
          </li>
-->
        </ul>
      </div>
      <div class="card-body" id="nss-card-1" style="">
        <!-- status -->
        <div id="preprocess-upload-status" style="display:none;"
          class="alert alert-info">
          <b>Status</b><br />
          <span id="stat-title">Task: Uploading and preprocessing</span><br />
          <span id="stat-complete"></span>
        </div>
        
        <!-- File upload form -->
        <form action="{% url 'spectra_search:ajax_upload' %}"
          class="" method="POST" style=""
          id="upload_form">
          {% csrf_token %}
          
          <div class="" id="file-selector"><!--bs/custom-file-->
            <input type="file" class=""
              id="customFile" name="file" multiple
              onchange="javascript:updateFileList(this, false);"
              onload="javascript:updateFileList(this, false);"
              style="display:none;"><!--bs/custom-file-input-->
            <label class="" for="customFile"
              style="border:1px dashed;background-color:#fefefe;padding:30px;width:100%;text-align:center;"
              >Choose file(s) to upload</label>
            <!--bs/custom-file-label-->
<!--
            <button onclick="javascript:updateFileList()"></button>
-->
          </div>
          <table class="card-text" id="file-listing" style="width: 100% !important;">
          </table>
          <table class="card-text" id="file-listing-preprocessing"
            style="width: 100% !important; display:none;"></table>
            
          <div class="alert alert-danger toggle-display" id="file-error">
          </div>
          
          <p class="card-text text-center mt-3">
            <a href="#" id="upload-more-opts" onclick="return false;"
              >Show more options</a>
          </p>
          
          <!-- Begin more options -->
          <div id="div-upload-opts" style="display:none;">
            
            <div class="form-group row mt-5">
              <div class="col-sm-3 col-form-label"
                >Upload location</div>
              <div class="col-sm-9">
                
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input type="radio" name="library_save_type"
                        value="RANDOM" id="library_save_type1" checked />
                    </span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="library_save_type1">
                        Use a randomly assigned library
                      </label></span>
                  </div>
                </div>
              
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input type="radio" name="library_save_type"
                        value="NEW" id="library_save_type2"/></span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="library_save_type2">
                        Create new library
                      </label></span>
                  </div>
                  {% with f=upload_form.library_create_new %}
                  {{ f }}
                  {% endwith %}
                  <div class="alert alert-danger toggle-display" id="new-library-error">
                  </div>
                </div>
             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input type="radio" name="library_save_type"
                        value="EXISTING" id="library_save_type3" /></span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="library_save_type3">
                        Save to existing library
                      </label></span>
                  </div>
                  {% with f=upload_form.library_select %}
                  {{ f }}
                  {% endwith %}
                </div>
                
              </div>
            </div>
            
            <div class="form-group row mt-2">
              <div class="col-sm-12">
                <span style="text-decoration:underline;"
                  >Closest match search</span>
              </div>
            </div>
            
            <div class="form-group row mt-2">
              <label for="" class="col-sm-3 col-form-label">
              Generate a table of top matches against:<br/>
              (select spectra library against which unknown will be queried)
              </label>
              <div class="col-sm-9">
<!--
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
-->
                <div id="search-library" class="sl_" >
                  {% with f=upload_form.search_library %}
                    {{ f }}
                  {% endwith %}
                </div>
                <div id="search-library-own" class="sl_" style="display:none;">
                  {% with f=upload_form.search_library_own %}
                    {{ f }}
                  {% endwith %}
                </div>
                <div id="search-library-lab" class="sl_" style="display:none;">
                  {% with f=upload_form.search_library_lab %}
                    {{ f }}
                  {% endwith %}
                </div>
                <div id="search-library-public" class="sl_" style="display:none;">
                  {% with f=upload_form.search_library_public %}
                    {{ f }}
                  {% endwith %}
                </div>
              </div>
            </div>
            
            <div class="form-group row mt-2">
              <div class="col-form-label col-sm-3">
                Library filter
              </div>
              <div class="col-sm-9">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input class=" lst_" type="radio"
                        name="library_search_type" id="gridRadios1"
                        value="r01" data-ltype="" checked>
                    </span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="gridRadios1">
                        R01 datasets
                      </label></span>
                  </div>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input class="lst_" type="radio"
                        name="library_search_type" id="gridRadios2"
                        value="own" data-ltype="-own">
                    </span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="gridRadios2">
                        My datasets
                      </label></span>
                  </div>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input class="lst_" type="radio"
                        name="library_search_type" id="gridRadios3"
                        value="lab" data-ltype="-lab">
                    </span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="gridRadios3">
                        Lab datasets (member/owner)
                      </label></span>
                  </div>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input class="lst_" type="radio"
                        name="library_search_type" id="gridRadios4"
                        value="pub" data-ltype="-public">
                    </span>
                    <span class="input-group-text">
                      <label class="form-check-label" for="gridRadios4">
                        All public datasets
                      </label></span>
                  </div>
                </div>

              </div>
            </div>
            
            <div class="form-group">
              {% with f=upload_form.preprocess %}
                {{ f }}
                <label class="form-check-label" for="{{ f.auto_id }}"
                  >{{ f.label }}</label>
              {% endwith %}
            </div>
<!--
            <div class="form-group">
              {% with f=upload_form.cKingdom %}
                {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.cPhylum %}
                {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.cClass %}
                {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.cOrder %}
                {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.cGenus %}
                {{ f }}
              {% endwith %}
            </div>
            <div class="form-group">
              {% with f=upload_form.cSpecies %}
                {{ f }}
              {% endwith %}
            </div>
            


            {{ metadata_form.media }}
-->

            
          </div>
          <!-- End more options -->
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary"
              id="upload-button">Upload</button>
          </div>
        </form>
        <!-- End file upload form -->
      </div>
      <!-- end card body 1 -->

      <div class="card-body" id="nss-card-2" style="display:none;">
        <div id="cosine-status" style="" class="alert alert-info">
          <b>Status</b><br />
          <span id="stat2-title">Task: Calculating cosine similarity measure...</span><br />
          <span id="stat2-complete"></span>
        </div>
        <table class="card-text" id="file-listing2" style="width: 100% !important;">
        </table>
      </div>
      
      <div class="card-body" id="nss-card-3" style="display:none;">
        <div class="alert alert-info">Comparing spectra from 3k-15k only</div>
        <table id="data-table" style="width: 100% !important;"></table>
      </div>
      
    </div>
  </div>
  <!-- end col left -->
  
  <div class="col-0" id="col-right">
  </div>
    
  </div>
  <!-- end row -->
  
</div>
<!-- end container -->

<!-- spectra comparison -->
<div class="container" style="width:100%;max-width:inherit;display:none;"
  id="container-dendro">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
    <div class="card-body" id="spectra-viz" style="overflow:hidden;">
    </div></div></div>
  <div class="col-sm-6">
    <div class="card">
    <div class="card-header" id="dendro-viz-head">
      <button style="border:1px solid #0a0a0a;cursor:pointer;"
        id="dendro-viz-toggle">
        <input type="checkbox" checked />
        [ ]
      </button>
    </div>
    <div class="card-body" id="dendro-viz" style="overflow:hidden;">
    </div></div></div>
</div>
</div>
<!-- end container -->

<!-- if search results, minimize search form -->
<div class="row">
  <input type="button" class="btn btn-primary" id="search_toggle"
    style="display: none; width: 180px;" value="Edit Search" />
</div>
{% if form.show_tbl %}  
  {% render_table table %}
{% endif %}

</div>

<script src="{% static 'js/spectra_search.js' %}"></script>

{% endblock %}

