{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	Basic Search
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
 
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>

<script type="text/javascript">
function show_filter(e) {
  document.getElementById('filters').style.display='block';
  e.preventDefault();
  e.stopPropagation();
}
</script>

<!-- After file upload form, get-form-div is placed inside this form. -->
<form action="{% url 'spectra_search:basic_search' %}" class="" method="GET" style="" id="search-form">
</form>

<div style="" id="" class="container" style="max-width: 1600px !important !important;">
  <!-- begin row -->
  <div class="row">
  <!-- begin col left -->
  <div class="col-12" id="col-left">
  <!-- start accordion -->
  <div id="accordion">
  <!-- search type -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Upload new file of unknown isolate
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        
            <div class="card" style="">
              <!--Height: All tabs same height to keep card body height from always changing upon tab selection.
              height:450px !important;-->
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="nav-search-source">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" id="nss-1">Input</a>
                  </li>
                  <li class="nav-item" id="result" style="display: none;">
                    <a class="nav-link" href="#" id="nss-2">Result</a>
                  </li>
<!--Turn off these options for now
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nss-2">Previously uploaded files</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nss-3">Library spectra</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nss-4">Manual spectra entry</a>
                  </li>
-->
                </ul>
              </div>
              <div class="card-body" id="nss-card-1" style="">
                
                <!-- File upload form -->
                <form action="{% url 'spectra_search:ajax_upload' %}" class="" method="POST" style="" id="upload_form">
                  {% csrf_token %}
                  
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                  <div class="alert alert-danger toggle-display" id="file-error">
                    </div>
                  
                  <p class="card-text">
                    <a href="#" id="upload-more-opts" onclick="return false;">Show more options</a>
                  </p>
                  
                  <div id="div-upload-opts" style="display:none;">
                    <div class="form-check">
                      {% with f=upload_form.save_to_library %}
                        {{ f }}
                        <label class="form-check-label" for="{{ f.auto_id }}">{{ f.label }}</label>
                      {% endwith %}
                    </div>
                    
                    <div class="w-75">
                      <div class="form-group">
                        {% with f=upload_form.lab %}
                        {{ f }}
                        {% endwith %}
                      </div>
                      <div class="form-group">
                        {% with f=upload_form.library %}
                        {{ f }}
                        {% endwith %}
                      </div>
                    </div>
                    <div class="form-group">
                      {% with f=upload_form.preprocess %}
                        {{ f }}
                        <label class="form-check-label" for="{{ f.auto_id }}">{{ f.label }}</label>
                      {% endwith %}
                    </div>
                    <div class="form-group">
                      {% with f=upload_form.search_library %}
                        {{ f }}
                      {% endwith %}
                    </div>
<!--
                    <div class="form-group">
                      privacy_level
                    </div>
-->
                  </div>
                  
                  <div class="text-center">
                    <button type="submit" class="btn btn-default">Upload</button>
                  </div>
                </form>
                <!-- End file upload form -->
              </div>
              <!-- end card body 1 -->

              <div class="card-body" id="nss-card-2" style="display:none;">
                <table id="data-table"></table>
              </div>

            </div>
            <!-- search button -->
            <button class="btn btn-primary">Start search</button>
      </div>
    </div>
  </div>

  <!-- -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Search filters
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
            <div class="card" style="height:550px !important;">
            <!--Keep card body height upon tab selection.-->
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="nav-search-2">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" id="ns2-1">Select collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="ns2-2">Select dendrogram</a>
                  </li>
                </ul>
              </div>
            
              <div>
                <form action="" method="post" class="dal-form container">
                    {% csrf_token %}
                    
                    {{ metadata_form }}
                  </form>
              </div>
            {{ metadata_form.media }}
            </div>
            <!-- search button -->
            <button class="btn btn-primary">Start search</button>
      </div>
    </div>
  </div>
  
  </div>
  <!-- end accordion -->
  
  </div>
  <!-- end col left -->
  <div class="col-0" id="col-right">
  </div>
    
  </div>
  <!-- end row -->
  
</div>
<!-- end container -->
  
<!-- if search results, minimize search form -->
<div class="row">
  <input type="button" class="btn btn-primary" id="search_toggle" style="display: none; width: 180px;" value="Edit Search" />
</div>
{% if form.show_tbl %}  
  {% render_table table %}
{% endif %}

</div>

<script type="text/javascript">
//~ function toggleCutoff(e) {
  //~ var x1 = document.getElementById('id_spectrum_cutoff_low');
  //~ var x2 = document.getElementById('id_spectrum_cutoff_high');
  //~ if (this.id == 'id_spectrum_cutoff_3') {
    //~ if (x1.disabled) {
      //~ x1.disabled = false;
      //~ x2.disabled = false;
    //~ } else {
      //~ x1.disabled = true;
      //~ x2.disabled = true;
    //~ }
  //~ } else {
    //~ x1.disabled = true;
    //~ x2.disabled = true;
  //~ }  
//~ }
function toggleSearchTypeOpts(e) {
  var s = $('#div-searchtype-opts');
  if (s.css('display') == 'none') {
    s.css('display', 'block');
    $(this).text('Hide file options')
  } else {
    s.css('display', 'none');
    $(this).text('Additional file options')
  }
  return false;
}
function toggleNavSearch(e) {
  $('#nav-search-source a').removeClass('active');
  $(this).addClass('active');
  for (var i=1; i<=4; i++) {
    $('#nss-card-'+i).addClass('toggle-display');
  }
  var n = $(this).attr('id').split('-')[1];
  $('#nss-card-'+n).removeClass('toggle-display');
  return false;
}
function toggleUploadOpts(e) {
  var s = $('#div-upload-opts');
  if (s.css('display') == 'none') {
    s.css('display', 'block');
    $(this).text('Hide more options')
  } else {
    s.css('display', 'none');
    $(this).text('Show more options')
  }
  return false;
}
function toggleSaveToLibrary(e) {
  var lb = $('#id_lab_name');
  var li = $('#id_library');
  if (this.checked) {
    li[0].disabled = false;
    lb[0].disabled = false;
  } else {
    li[0].disabled = true;
    lb[0].disabled = true;
  }
}
function toggleSearchForm() {
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (st.css('display') == 'none') {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
}

//~ var showAddl = false
function toggleAddlFields() {
  $('.search-addl-fields').toggleClass('toggle-display');
  if ($(this).text() == 'Additional search options') {
    $(this).text('Hide search options');
  } else {
    $(this).text('Additional search options');
  }
  return false;
}
//~ $(document).ready(function(){
window.addEventListener('DOMContentLoaded', (event) => {
  //~ var y = document.getElementsByName('spectrum_cutoff');
  //~ for (var i=0; i<y.length; i++) {
    //~ y[i].onclick = toggleCutoff;
  //~ }
  //~ var x1 = $('#id_spectrum_cutoff_low');
  //~ var x2 = $('#id_spectrum_cutoff_high');
  //~ x1.attr({'placeholder': 'Min. M/Z', 'max': '999999'});
  //~ x2.attr({'placeholder': 'Max. M/Z', 'max': '999999'});
  
  var show_tbl = {{ form.show_tbl|lower }};
  var st = $('#search_toggle');
  var si = $('#search_initial');
  if (show_tbl) {
    st.css('display', 'block');
    si.css('display', 'none');
  } else {
    st.css('display', 'none');
    si.css('display', 'block');
  }
  st.click(toggleSearchForm);
  
  // toggle search options
  $('#toggle-search-opts').click(toggleAddlFields);
  
  // toggle search options
  // turn off for now
  //~ $('#nav-search-source a').click(toggleNavSearch);
  
  // search type opts
  $('#searchtype-more-opts').click(toggleSearchTypeOpts);
  
  // save to library
  $('#id_save_to_library').click(toggleSaveToLibrary);
  
  // upload more opts
  $('#upload-more-opts').click(toggleUploadOpts);
  
  // upload
  $('#upload_form').submit(upload);
  
  // progress
  //~ $('#upload_form').uploadprogress({redirect_url: null}); //{redirect_url: '/'}
  
  // file selector (via w3 schools) and initial value on page reload
  $(".custom-file-input").on("change", function() {
    var f = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(f);
  });
  if ($(".custom-file-input").val() != '') {
    var n = $(".custom-file-input");
    var f = n.val().split("\\").pop();
    n.siblings(".custom-file-label").addClass("selected").html(f);
  }
  
  //
  $('#add-form').click(function() {
      var index = $('#id_inline_test_models-TOTAL_FORMS').val()
      //~ console.log('index', index);
      var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
      //~ console.log('nt', newTable);
      newTable.find(':input').each(function() {
          for (attr of ['name', 'id'])
              $(this).attr(
                  attr,
                  $(this).attr(attr).replace('__prefix__', index)
              )
      })
      newTable.insertBefore($(this))
      $('#id_inline_test_models-TOTAL_FORMS').val(
          parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
      )
      newTable.slideDown()
  })
  
});

//const myDiv = document.getElementById('poll_data')
//~ var socket = new WebSocket('ws://127.0.0.1:8000/ws/pollData');
//~ var socket = new WebSocket('ws://127.0.0.1/ws/pollData');

//~ var socket = new WebSocket('ws://localhost/ws/pollData');

//~ var socket = new WebSocket('ws://localhost/ws/pollData'); // works locally?
//~ var socket = new WebSocket('ws://0.0.0.0/ws/pollData'); // works locally

//~ var socket = new WebSocket('ws://0.0.0.0/ws/pollData', 'echo-protocol');
//~ var socket = new WebSocket('ws://0.0.0.0:8000/ws/pollData');
//~ var socket = new WebSocket('ws://django:8000/ws/pollData');
//~ var socket = new WebSocket('ws://django/ws/pollData', 'echo-protocol');
//~ var socket = new WebSocket('ws://localhost:8000/ws/pollData');
//~ var socket = new WebSocket('ws://localhost:8000/ws/pollData', 'echo-protocol');
//~ var socket = new WebSocket('ws://localhost/ws/pollData', 'echo-protocol');

//~ var socket = new WebSocket('ws://<ip>/ws/pollData'); // works remotely
var socket = new WebSocket('ws://' + location.host + '/ws/pollData'); // works remotely

socket.onopen = function(e){
  console.log(e);
}
socket.onmessage = function(e){
  //~ console.log(e.data);
  var data = JSON.parse(JSON.parse(e.data));
  //~ console.log(data);
  //~ console.log(JSON.parse(result));
  $('#result').toggle();
  $('#nss-1').removeClass('active');
  $('#nss-2').addClass('active');
  $('#nss-card-1').css('display', 'none');
  $('#nss-card-2').css('display', 'block');
  var t = $('#data-table').DataTable({
    data: data.result,
    columns: [
      {data: 'score', title: 'Score'},
      {data: 'strain', title: 'Strain'},
      {data: 'order', title: 'Order'},
      {data: 'genus', title: 'Genus'},
      {data: 'species', title: 'Species'},
    ]
  });
  t.order([0, 'desc']) // reorder in correct direction
    .draw();
    
  // d3
  // col-left, col-right
  // e.g. https://www.d3-graph-gallery.com/graph/scatter_basic.html
  $('#col-left').removeClass('col-12');
  $('#col-right').removeClass('col-0');
  $('#col-left').addClass('col-6');
  $('#col-right').addClass('col-6');
  var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 660 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;
  var svg = d3.select('#col-right')
    .append('svg')
      .attr('width', width + margin.left + margin.right)
      .attr('height', height + margin.top + margin.bottom)
    .append('g')
      .attr('transform',
        'translate(' + margin.left + ',' + margin.top + ')');
  // X axis
  var x = d3.scaleLinear()
    .domain([1900, 17000])// div. by 10
    .range([ 0, width ]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));
  // Y axis
  var y = d3.scaleLinear()
    .domain([0, data.result.length])
    .range([ height, 0]);
  svg.append("g")
    .call(d3.axisLeft(y));
  // reshape
  var rslt_long_matched = [];
  var rslt_long_unmatched = [];
  var pmo = data.original.peak_mass.split(',');
  var pmo_dict = {}
  for (var i in pmo) {
    //~ var a = Math.round(pmo[i] / 10);
    //~ var a = Math.round(pmo[i], 3);
    //~ var a = Number.parseFloat(pmo[i]).toPrecision(2);
    var a = Number.parseFloat(pmo[i]).toFixed(1);
    //~ var a = pmo[i];
    pmo_dict[a] = true;
  }
  data.result.forEach(function(d) {
    var pm = d.peak_mass.split(',');
    //~ console.log(d);
    for (var j in pm) {
      //~ var a = Math.round(pm[j] / 10);
      //~ var a = Math.round(pm[j], 3);
      var a = Number.parseFloat(pm[j]).toFixed(1);
      //~ var a = pm[j]
      if (pmo_dict[a]) { // has key
        rslt_long_matched.push({
          x: a,
          y: parseInt(d.rowcount) // index
        });
      } else { // no match
        rslt_long_unmatched.push({
          x: a,
          y: parseInt(d.rowcount) // index
        });
      }
    }
  });
  //~ console.log(rslt_long_matched);
  //~ console.log(rslt_long_unmatched);
  //~ return;
  //~ rslt_long_matched = rslt_long_matched.slice(0, 400);
  
  
  // Add circles (matching)
  // i is index
  svg.append('g')
    .selectAll("dot")
    .data(rslt_long_matched)
    //~ .data(function(d, i) {// for each result, return the index + points to map
      //~ return d.peak_mass.split(',');
      //~ return d.peak_mass.map(function (attr_val) {
        //~ return {attr_val: attr_val, parent_idx: i};
      //~ });
    //~ })
    .enter() // for each result
    .append("circle")
      .attr("cx", function (d, i) { return x(d.x); } ) 
      .attr("cy", function (d, i) { return y(d.y); } )
      .attr("r", 1.25)
      .style("fill", "#00dd00")
  return;
  svg.append('g')
    .selectAll("dot")
    .data(rslt_long_unmatched)
    .enter() // for each result
    .append("circle")
      .attr("cx", function (d, i) { return x(d.x); } ) 
      .attr("cy", function (d, i) { return y(d.y); } )
      .attr("r", 1.0)
      .style("fill", "#ff0000")
}
socket.onclose = function(e){
  console.log(e);
}

// upload form
function upload(event) {
  
  // Modal tempalte adapted from
  // https://github.com/jakobadam/bootstrap-uploadprogress
  var template = '<div class="modal fade" id="file-progress-modal">\
  <div class="modal-dialog">\
    <div class="modal-content">\
      <div class="modal-header">\
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\
        <span aria-hidden="true">&times;</span></button>\
        <h4 class="modal-title">Uploading</h4>\
      </div>\
      <div class="modal-body">\
        <div class="modal-message"></div>\
        <div class="progress">\
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"\
               aria-valuemax="100" style="width: 0%;min-width: 2em;">\
            0%\
          </div>\
        </div>\
      </div>\
      <div class="modal-footer" style="display:none">\
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
      </div>\
    </div>\
  </div>\
</div>';

  var t = $(template);
  t.modal({
    backdrop: 'static',
    keyboard: false
  });
  t.message = t.find('.modal-message');
  t.title = t.find('.modal-title');
            //this.$modal_footer = this.$modal.find('.modal-footer');
  t.progress = t.find('.progress-bar');

  $.ajax({
    xhr: function() {
      var xhr = new window.XMLHttpRequest();

      // Upload
      xhr.upload.addEventListener('progress', function(evt){
        if (evt.lengthComputable) {
          var percent = 100 * evt.loaded / evt.total;
          t.progress.attr('aria-valuenow', percent);
          t.progress.text(percent + '%');
          t.progress.css('width', percent + '%');
        }
     }, false);
     
     // Download
     xhr.addEventListener('progress', function(evt){
       if (evt.lengthComputable) {
         var percentComplete = evt.loaded / evt.total;
       }
     }, false);
     
     return xhr;
    },
    
    dataType: 'JSON',
    data: new FormData(this),
    url: "{% url 'spectra_search:ajax_upload' %}",
    type: 'POST',
    processData: false,
    contentType: false,
    // on success
    success: function(response) {
      console.log(response);
      t.modal('hide');
      
      if (response.status == 'preprocessing') {
        t.title.text('Preprocessing');
        t.progress.text('0%');
      }
      
      // Fails when file uploaded second time
      
      //~ if (response.is_taken == true) {
          //~ $('#id_username').removeClass('is-valid').addClass('is-invalid');
          //~ $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
      //~ } else {
          //~ $('#id_username').removeClass('is-invalid').addClass('is-valid');
          //~ $('#usernameError').remove();

      //~ }
    },
    // on error
    error: function(response) {
      console.log(response);
      try {
        var r = JSON.parse(response.responseJSON.errors);
        console.log(r);
        if (r && r.file) { // array of messages
          $('#customFile').removeClass('is-valid').addClass('is-invalid');
          $('#file-error').removeClass('toggle-display').text(
            r.file.join('<br>')
          );
          var msgs = [];
          r.file.forEach(e => msgs.push(e.message));
          $('#file-error').text(msgs.join('<br>'));
        }
      } catch(e) {
        console.log(e);
      }
      
    }
  });
  return false;
}
</script>

{% endblock %}

