{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block title %}
	Detail
{% endblock %}

{% block content %}

{% load bootstrap4 %}

{% if form.is_bound %}
  <button class="btn btn-primary" onclick="toggleFilters();">Show form</button>
  <form action="" method="post" class="form form-inline toggle-display" style="" id="filter-form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% bootstrap_button 're-calculate scores' %}
  </form>
{% else %}
	<button class="btn btn-primary" onclick="toggleFilters();">Hide form</button>
  <form action="" method="post" class="form form-inline" style="" id="filter-form">
		{% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% bootstrap_button 'calculate scores' %}
  </form>
{% endif %}

{% if sc %}
<script type="text/javascript">
var sc = JSON.parse('{{ sc }}');
console.log(sc);
</script>
{% endif %}

<div class="card">
<!--
	{% if lab.picture %}
		<img class="card-img-top" src='{{ lab.picture }}'>
	{% else %}
		<div class="container mt-1 text-center"><i class="fas fa-9x fa-user"></i></div>
	{% endif %}
-->
	<div class="card-body">
		<div class="card-title">
			
		</div>
		<div class="card-text">
			
		</div>
	</div>
<!--
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><strong><i class="fa fa-fw fa-user-alt"></i></strong> {{ user.username }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-envelope"></i></strong> {{ user.email }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-phone"></i></strong> {{ user.profile.phone }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-globe"></i></strong> {{ user.profile.website }}</li>
		<li class="list-group-item"><strong><i class="fa fa-fw fa-map-marker-alt"></i></strong> {{ user.profile.address }}</li>
	</ul>
-->

<!--

	{% if request.user in lab.owners.all %}
		<div class="card-body">
			<a href="{% url 'chat:edit_spectra' spectra.id %}" class="card-link btn btn-danger">Edit Spectra</a>
		</div>
	{% endif %}
-->
	
</div>
{% endblock %}
